<article class="bookmark-item">
  <h3 class="bookmark-title">
    <a href="{{ bookmark.url }}" target="_blank" rel="noopener"
      >{{ bookmark.title }}</a
    >
  </h3>
  {% if bookmark.tags.len() > 0 %}
    <div class="bookmark-item-tag-container">
      {% for tag in bookmark.tags %}
        <span
          class="tag"
          role="button"
          tabindex="0"
          title="Filter by {{ tag.name }}"
          >{{ tag.name }}</span
        >
      {% endfor %}
    </div>
  {% else %}
    <!-- Maintain the spacing when no tags are present, but keep the div actually empty. Plus fucking satisfy stupid fucking prettier -->
    <div class="bookmark-item-tag-container">
      <div class="no-tags">No tags</div>
    </div>
  {% endif %}
  <div class="bookmark-meta">Saved {{ bookmark.created_ago }}</div>
</article>
