<input type="text" id="title" name="title" required value="{{ title }}" />

<script>
  // Update URL field if protocol was guessed
  const urlField = document.getElementById("url");
  if (urlField && "{{ corrected_url }}" !== urlField.value) {
    urlField.value = "{{ corrected_url }}";
  }
</script>

{% match description %}
  {% when Some with ( desc ) %}
  <script>
    // Update description field if one was scraped
    const descriptionField = document.getElementById("description");
    if (descriptionField && "{{ desc }}" && "{{ desc }}" !== "None") {
      descriptionField.value = "{{ desc }}";
    }
  </script>
  {% when None %}
{% endmatch %}
